/*
 * SASS allows style rules to be nested inside of other rules, which causes
 * the nested rules to only apply within the outer rule's selector
 */


 body {
    font-family:  Arial, sans-serif;
    
    p {
        font-family:Times;
    }
    p.mypara {
        font-family: "Courier";
    }
}

header {
    h1 { font-size: 3em }
    h2 {font-size: 2.5em}
    h3 {font-family: times; font-size: 4em}
    h4 {color: red}
    color: #404040;
    border: 1px solid #404040;
    padding: 10px;
    
    &:hover {
        color: rgb(109, 35, 194);
    }
}
