/* 
 * SASS Variables are defined with a $ character
 * and can have different kinds of data types: color, string, boolean, multi-value
 */

$myColor1: #803e00;                            // named color value
$myColor2: #078632;                         // hex color value
$myStringVar: " with an appended string";   // string variable 
$myFontSize: 22px;                          // numeric value
$thinBorder: 1em dotted $myColor2;           // multi-value variable
$paddingVar: 15px 15px 15px 15px;           // multi-value variable

